#!/bin/bash

project=gshell

function command_rebuild {
  mvn clean install $*
  unzip -d target gshell-dist/gshell-assembly/target/gshell-*-bin.zip
}

function command_run {
  exec target/gshell-*/bin/gsh $*
}

function command_mvnrun {
  mvn com.planet57.gshell:gshell-maven-plugin:LATEST:run $*
}
