#
# Add some nice aliases
#

alias help-system mvn org.apache.maven.plugins:maven-help-plugin:system
alias install mvn org.apache.maven.plugins:maven-install-plugin:install
alias resources mvn org.apache.maven.plugins:maven-resources-plugin:resources
alias dependency-analyze mvn org.apache.maven.plugins:maven-dependency-plugin:analyze
alias dependency-resolve mvn org.apache.maven.plugins:maven-dependency-plugin:resolve
alias help-allprofiles mvn org.apache.maven.plugins:maven-help-plugin:all-profiles
alias test mvn org.apache.maven.plugins:maven-surefire-plugin:test
alias dependency-tree mvn org.apache.maven.plugins:maven-dependency-plugin:tree
alias dependency-purge mvn org.apache.maven.plugins:maven-dependency-plugin:purge-local-repository
alias deploy mvn org.apache.maven.plugins:maven-deploy-plugin:deploy
alias testCompile mvn org.apache.maven.plugins:maven-compiler-plugin:testCompile
alias war mvn org.apache.maven.plugins:maven-war-plugin:war
alias help-effectivesettings mvn org.apache.maven.plugins:maven-help-plugin:effective-settings
alias clean mvn org.apache.maven.plugins:maven-clean-plugin:clean
alias jar mvn org.apache.maven.plugins:maven-jar-plugin:jar
alias testResources mvn org.apache.maven.plugins:maven-resources-plugin:testResources
alias compile mvn org.apache.maven.plugins:maven-compiler-plugin:compile
alias dependency-resolve-plugins mvn org.apache.maven.plugins:maven-dependency-plugin:resolve-plugins
