<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2009-present the original author or authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<configuration debug="${shell.logging.debug:-false}" scan="${shell.logging.scan:-false}" scanPeriod="${shell.logging.scan-period:-30 seconds}">

  <contextName>default</contextName>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="console" class="com.planet57.gshell.logging.logback.TargetConsoleAppender">
    <encoder>
      <pattern>${shell.logging.console.pattern:-[%level] %logger{1} - %msg%n}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${shell.logging.console.threshold}</level>
    </filter>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${shell.logging.file.path:-${shell.home}/log/shell.log}</file>
    <append>${shell.logging.file.append:-false}</append>
    <encoder>
      <pattern>${shell.logging.file.pattern:-%date %level [%thread%X{DC}] %logger - %msg%n}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${shell.logging.file.threshold}</level>
    </filter>
  </appender>

  <logger name="Sisu" level="${shell.logging.logger.Sisu.level:-INFO}"/>
  <logger name="org.jline" level="${shell.logging.logger.org.jline.level:-INFO}"/>

  <root level="${shell.logging.root-level:-INFO}">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>

</configuration>
